<div id="<%= dom_id user %>">

  <p>
    <strong><%= User.human_attribute_name(:email) %>:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:postal_code) %>:</strong>
    <%= user.postal_code %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:address) %>:</strong>
    <%= user.address %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:self_introduction) %>:</strong>
    <%= user.self_introduction %>
  </p>

  <% if user.picture.attached? %>
    <p>
      <strong><%= User.human_attribute_name(:picture) %>:</strong>
      <%= image_tag user.picture.variant(resize_to_limit: [500, 500]) %>
    </p>
  <% end %>

</div>
