<h2>ユーザー名</h2>
<%= @user.name %>
<h2>メールアドレス</h2>
<%= @user.email %>
<h2>郵便番号</h2>
<%= @user.postal_code%>
<h2>住所</h2>
<%= @user.address%>
<h2>自己紹介</h2>
<%= @user.self_introduction%>

<p><%= link_to 'ユーザー一覧に戻る', users_path %></p>
