<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t('views.common.edit', name: Book.model_name.human.downcase), edit_book_path(@book) %> |
  <%= link_to t('views.common.back', name: i18n_pluralize(Book.model_name.human.downcase)), books_path %>

  <%= button_to t('views.common.destroy', name: Book.model_name.human.downcase), @book, method: :delete %>
</nav>

<h1><%= Comment.model_name.human %></h1>

<% @comments.each do |comment| %>
  <div class="show-item">
    <p>
      <strong><%= Comment.human_attribute_name(:user) %>:</strong>
      <%= comment.user.name %>
    </p>
    
    <p>
      <strong><%= Comment.human_attribute_name(:title) %>:</strong>
      <%= comment.title %>
    </p>

    <p>
      <strong><%= Comment.human_attribute_name(:body) %>:</strong>
      <%= comment.body %>
    </p>

    <p>
      <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
      <%= comment.created_at %>
    </p>
  </div>
<% end %>
