<div id="<%= dom_id report %>">
  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %>:</strong>
    <%= format_content report.content %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:user) %>:</strong>
    <%= link_to report.user.name_or_email, report.user %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:created_on) %>:</strong>
    <%= l report.created_on %>
  </p>

  <p>
    <strong><%= t('views.reports.mentioned_from') %>:</strong>
  </p>
  <ul>
    <% report.mentioned_reports.each do |report| %>
      <li><%= link_to report.title, report %></li>
    <% end %>
  </ul>

</div>
