<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <p class="navbar-text pull-right">
      <% if user_signed_in? %>
        <%= t('common.logged_in_as', name: current_user.email) %>
        <%= link_to t('common.edit_profile'), edit_user_registration_path, class: 'navbar-link' %> |
        <%= link_to t('common.logout'), destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'navbar-link'  %> |
        <%= link_to t('common.home'), root_path %> |
        <%= link_to t('common.user_list'), users_path %>
      <% else %>
        <%= link_to t('common.sign_up'), new_user_registration_path, class: 'navbar-link'  %> |
        <%= link_to t('common.login'), new_user_session_path, class: 'navbar-link'  %>
      <% end %>
    </p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
